/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffe6f2;
    color: #555;
    text-align: center;
}

header {
    background-color: #e08db7;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(146, 13, 95);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    background: #fff0f5;
}

section {
    padding: 30px;
    margin: 30px auto;
    background: white;
}

footer {
    background-color: #e08db7;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    border-top: 5px #ff4da6;
}
